<!DOCTYPE html>
<html lang="en">

<head>

    <script type="text/javascript">
        /*var counter = 0;
        function next(){
            counter = counter + 1;
        }
        function prev(){
            counter = counter + 1;
        }
        function changeQuestion(n){
            
        }*/
        var counter = 0
        n = parseInt("<%= data.length %>")
        var questions = new Array(n)
        for(var i=0;i<n;i++){
            questions[i] = "q"+i
        }
        function next1(){
            console.log(counter)
            console.log(n)
            if(counter!=n-1){
                counter++
                changeQuestion(counter)
            }
        }
        function prev(){
            if(counter!=0){
                counter--
                changeQuestion(counter)
            }
        }
        function save(){
            //console.log("i am counter no :-"+counter)
            //console.log(counter.toString())
            document.getElementById(counter.toString()).style.backgroundColor = "darkred"
            next1()
        }
        function changeQuestion(question){
            
            question = parseInt(question)
            counter = question 
            //console.log("i am counter number "+counter)
            for(var i=0;i<n;i++){
                if(parseInt(counter)==parseInt(i)){
                     if(document.getElementById(i.toString()).style.backgroundColor != "darkred")
                            document.getElementById(counter.toString()).style.backgroundColor = "lightgreen"
                }
                else{
                    if(document.getElementById(i.toString()).style.backgroundColor != "darkred")
                        document.getElementById(i.toString()).style.backgroundColor = "black"
                }
            }
            var tmp = "q"+counter
            for(var i=0;i<questions.length;i++){
                question = questions[i]
                div = document.getElementById(question)
                if(tmp==question){
                    div.style.display = "block"
                }
                else
                    div.style.display = "none"
            }
        }
    </script>
    <style type="text/css">
        .sqbtn{
            width: 40px;
            height: 40px;
            background-color: black;
            color: white
        }
    </style>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->

    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body onload="changeQuestion(0)">

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand">IEEE Online Test</a>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
            <br><br>
                <div class="sidebar-nav navbar-collapse" style="background-color: red;padding-top: 10px;padding-left: 10px;padding-bottom: 10px">
                    <% for(var i=0;i<data.length;i++){ %>
                        <input type="button" name="" class="sqbtn" id="<%= i %>" value="<%=i+1%>" onclick="changeQuestion('<%= i %>')">
                    <% } %>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper" style="background-color: black">
            <div class="container-fluid">
                <div class="row" >
                    <div class="col-lg-12 " >
                        <h1 class="page-header" id="demo">Blank</h1>
                        <form action="/submit" method="post">
                        <% for(var i=0;i<data.length;i++){%>
                            <div id="q<%=i %>" style="display: none;">
                            <h3 style="color: green">Q<%= i+1 %>.<%= data[i].question %></h3>

                            <h4 style="color: darkgreen"><input type="radio" name="<%= data[i]._id %>" value="1" onclick="enterAttempt('<%= cid %>','<%= data[i]._id %>','1')">&nbsp&nbsp&nbsp&nbsp&nbsp<%= data[i].option1 %></h4><br>

                            <h4 style="color: darkgreen"><input type="radio" name="<%= data[i]._id %>" value="2" onclick="enterAttempt('<%= cid %>','<%= data[i]._id %>','2')">&nbsp&nbsp&nbsp&nbsp&nbsp<%= data[i].option2 %></h4><br>

                            <h4 style="color: darkgreen"><input type="radio" name="<%= data[i]._id %>" value="3" onclick="enterAttempt('<%= cid %>','<%= data[i]._id %>','3')">&nbsp&nbsp&nbsp&nbsp&nbsp<%= data[i].option3 %></h4><br>

                            <h4 style="color: darkgreen"><input type="radio" name="<%= data[i]._id %>" value="4" onclick="enterAttempt('<%= cid %>','<%= data[i]._id %>','4')">&nbsp&nbsp&nbsp&nbsp&nbsp<%= data[i].option4 %></h4><br>

                            </div>
                        <% } %>
                        <input type="button" id="next" value="next" onclick="next1()">
                        <input type="button" value="previous" onclick="prev()">
                        <input type="hidden" name="cid" value="<%= cid %>" >
                        <input type="button" value="Save and continue" onclick="save()">
                        <input type="submit" value="SUBMIT AND EXIT">
                        </form>
                        
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="../vendor/jquery/jquery.min.js"></script>
    <script src="../js/use.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../dist/js/sb-admin-2.js"></script>

</body>

<!-- Script for countdown timer -->
<script type="text/javascript">
    var time = new Date("<%= data[0].contest.endTime %>")  - new Date()
    console.log(time)
    time = time/1000
    
    var x = setInterval(function(){
        var days = parseInt(time/86400)
        var hours = parseInt(time/3600)%(24*days)
        var minutes = parseInt(time/60)%60
        var seconds = parseInt(time % 60)
        var result = (days!=0? days + "days" + " " : "") + (hours!=0?hours + "h" + " " : "") + (minutes!=0?minutes + "min" + " " : "") + seconds + "sec"
        //var result = days + "days" + " " + hours + "h" + " " + minutes + "min" + " " + seconds + "sec"
        document.getElementById("demo").innerHTML = result 
        time = time-1
        if(time<0){
            clearInterval()
            alert("Time is over")
            location.href = "/ok"
        }
    },1000)
</script>
</html>